<div class="content">
    <h2>Welcome <%=user%></h2> 
    <div class="container">
        <%if(locals.sites){%>
            <%sites.forEach((site)=>{%>
                <div class="card p-3 my-5" style="width: 25rem;">
                    <div class="dashcard">
                        <img src="images/repeating-triangles.png" class="dashimg" alt="...">
                        <div class="card-body ">
                            <form action="/dashupdate" method="post">
                                <button class="btn btn-primary mt-2 dashbtn" name="edit" value="<%=site.siteid%>" type="submit">Edit</button>
                                <button class="btn btn-primary mt-2 dashbtn" name="delete" value="<%=site.siteid%>" type="submit">Delete</button>
                            </form>
                        </div>   
                    </div>
                    <div class="createdsite mt-4">
                        <h6>Live at :</h6>
                        <a href="/<%= site.username %>/<%= site.siteid %>"> http://localhost:3000/<%= site.username %>/<%= site.siteid %></a>
                    </div>
                </div>
            <%});%>
        <%}else{%>
            <p>You have no sites</p>
        <%}%>
    </div>
</div>