<div class="content">
    <% if(posts) {%>
        <h2>Current posts</h2>
        <div class="dash">
            <%dbdata.forEach((post)=>{%>
                <div class="postcard">
                    <div class="cardpost">
                        <p>Title : <%=post.title%></p>
                        <p class="cont">Body : <%=post.para%></p>
                        <p>Author : <%=post.author%></p>
                    </div>
                    <div class = "editdelete">
                        <form action="/update" method="post">
                            <button  class="btn btn-primary edel" name="edit" value="<%=post.id%>" type="submit">Edit</button>
                            <button class="btn btn-primary edel" name="delete" value="<%=post.id%>" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <%});%> 
        </div>
    <%}else{%>
        <div class="empty my-5">
            <a href="/post" role="button">
            <svg width="80px" height="80px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 19H6.2C5.07989 19 4.51984 19 4.09202 18.782C3.71569 18.5903 3.40973 18.2843 3.21799 17.908C3 17.4802 3 16.9201 3 15.8V8.2C3 7.0799 3 6.51984 3.21799 6.09202C3.40973 5.71569 3.71569 5.40973 4.09202 5.21799C4.51984 5 5.0799 5 6.2 5H17.8C18.9201 5 19.4802 5 19.908 5.21799C20.2843 5.40973 20.5903 5.71569 20.782 6.09202C21 6.51984 21 7.0799 21 8.2V12M3 9H21M18 21V15M21 18.0008L15 18" stroke="#808080" stroke-width="0.744" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </a>
        </div>
    <% } %>
</div>